<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my inventory</title>
    <link rel="stylesheet" th:href="@{/css/inventCSS.css}" href="../../static/css/inventCSS.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="../assets/dist/css/bootstrap.min.css/bootstrap.bundle.js" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;500&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body class="fade">
<div class="all">
    <div class="container-md">
        <header class="p-3 mb-3 border-bottom">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/static" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                        <use xlink:href="#bootstrap" />
                    </svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <div id="logo">
                        <a th:onclick="|location.href='@{/}'|" onclick="location.href='ww_main.html'"><svg xmlns="http://www.w3.org/2000/svg" width="45" height="45"
                                                                                                               fill="currentColor" class="bi bi-file-word-fill" viewBox="0 0 16 16">
                            <path
                                    d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM5.485 4.879l1.036 4.144.997-3.655a.5.5 0 0 1 .964 0l.997 3.655 1.036-4.144a.5.5 0 0 1 .97.242l-1.5 6a.5.5 0 0 1-.967.01L8 7.402l-1.018 3.73a.5.5 0 0 1-.967-.01l-1.5-6a.5.5 0 1 1 .97-.242z" />
                        </svg></a>
                    </div>
                    <li id="overviewButton"><a th:onclick="|location.href='@{/}'|" onclick="location.href='ww_main.html'" class="nav-link px-2 link-body-emphasis">Overview</a></li>
                    <li id="inventoryButton"><a th:onclick="|location.href='@{/main/inventory}'|" onclick="location.href='inventory.html'" class="nav-link px-2 link-secondary">Inventory</a></li>
                    <li><a th:onclick="|location.href='@{/main/miniGame}'|" onclick="location.href='miniGame.html'" class="nav-link px-2 link-body-emphasis">Mini game</a></li>
                </ul>

                <div class="dropdown text-end">
                    <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <img th:attr="src=@{/img/userProfile.jpeg}" src="../img/userProfile.jpeg" alt="mdo" width="32" height="32" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small">
                        <li><a class="dropdown-item" th:onclick="|location.href='@{/main/profile}'|" onclick="location.href='profile.html'">Profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <main>
            <div class="upper">
                <div class="description">
                    <br><br>
                    <div id="p-title"><p>[[${member.nickname}]]의 인벤토리입니다.</p></div>
                    <div id="p"><p>단어 학습 내용이 [[${member.nickname}]]의 인벤토리에 저장되었어요.<br> 언제든 다시 확인하며 C++ 개념을 공부해보세요.</p></div>
                </div>
                <div class="reviewBtn">
                    <button id="modal-btn" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        복습하러 가기
                    </button>
                </div>

                <!--챕터 선택 창(모달)-->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: rgba(235,235,235,100)">
                                <h1 class="modal-title fs-5" id="exampleModalLabel"><strong>C++ chapter</strong></h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p style="font-weight: 300;">학습하실 챕터를 선택해주세요.<br></p>
                                <div class="accordion" id="accordionExample">
                                    <!---->
                                    <div class="accordion-item" th:each="chapter:${chapters}">
                                        <h2 class="accordion-header" >
                                            <button style="font-weight: 500" th:text="${chapter.number}" class="accordion-button"
                                                    th:classappend="${chapter.id == 1} ? '' : collapsed" type="button" data-bs-toggle="collapse"
                                                    th:data-bs-target="'#'+ ${chapter.id}"
                                                    data-bs-target="#collapseOne"
                                                    th:aria-expanded="${chapter.id == 1} ? true : false" aria-expanded="false"
                                                    th:aria-controls="${chapter.id}" aria-controls="collapseOne">
                                                Chapter 1
                                            </button>
                                        </h2>
                                        <div th:id="${chapter.id}" id="collapseOne" class="accordion-collapse collapse"
                                             th:classappend="${chapter.id == 1} ? show : ''" data-bs-parent="#accordionExample">
                                            <div class="accordion-body" style="cursor: pointer; font-weight: 300" th:onclick="|location.href ='/main/learn/${chapter.id}'|">
                                                <p id="chapter"
                                                   th:text="${chapter.title}" >
                                                    수식과 연산자
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-bg"></div>
                    </div>
                </div>

            </div>
            <div class="main">
                <div class="all-contents">
                    <input type="radio" id="radioKnow" name="word" checked/>
                    <input type="radio" id="radioDontknow" name="word"/>
                    <input type="radio" id="radioBookmark" name="word"/>

                    <div class="radioBtn">
                        <label for="radioKnow">알아요</label>
                        <label for="radioDontknow">몰라요</label>
                        <label for="radioBookmark">북마크</label>
                    </div>

                    <div class="radio-block">
                        <div class="radio-contents"><!--무시--></div>
                        <!--몰라요-->
                        <div class="radio-contents">
                            <div class="row">
                                <div class="col-sm-6 col-lg-4 mb-3 mb-sm-3" th:each="learn:${learns}" th:if="${!learn.learn}">
                                    <div class="card" style="width: 300px; height: 220px">
                                        <div class="card-body">
                                            <h5 class="card-title" th:text="${learn.word.word}">Card title</h5>
                                            <h6 class="card-subtitle mb-2 text-body-secondary" th:text="${learn.word.chapter.number}">Chapter 1</h6>
                                            <p class="card-text" th:text="${learn.word.answer}">단어 설명</p>
                                            <div class="bookmarkBtn">
                                                <i class="bi bi-bookmark-star" style="font-size: 2rem; cursor: pointer;"></i>
                                            </div>
                                            <button class="moveBtn">알아요로 옮기기</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--북마크-->
                        <div class="radio-contents">
                            <div class="row">
                                <div class="col-sm-6 col-lg-4 mb-3 mb-sm-3" th:each="learn:${learns}" th:if="${learn.learn}">
                                    <div class="card" style="width: 300px; height: 220px">
                                        <div class="card-body">
                                            <h5 class="card-title" th:text="${learn.word.word}">Card title</h5>
                                            <h6 class="card-subtitle mb-2 text-body-secondary" th:text="${learn.word.chapter.number}">Chapter 1</h6>
                                            <p class="card-text" th:text="${learn.word.answer}">단어 설명</p>
                                            <button class="moveBtn">북마크 해제</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--알아요-->
                        <div class="radio-contents">
                            <div class="row">
                                <div class="col-sm-6 col-lg-4 mb-3 mb-sm-3" th:each="learn:${learns}" th:if="${learn.learn}">
                                    <div th:if="${learn.learn}" class="card" style="width: 300px; height: 220px;">
                                        <div class="card-body">
                                            <h5 class="card-title" th:text="${learn.word.word}">Card title</h5>
                                            <h6 class="card-subtitle mb-2 text-body-secondary" th:text="${learn.word.chapter.number}">Chapter 1</h6>
                                            <p class="card-text" th:text="${learn.word.answer}">단어 설명</p>
                                            <div class="bookmarkBtn">
                                                <i class="bi bi-bookmark-star" style="font-size: 2rem; cursor: pointer;"></i>
                                            </div>
                                            <button class="moveBtn">몰라요로 옮기기</button>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            setTimeout(function () {
                document.body.className = '';
            });
        });

    </script>
    <script>
        // var i = 0;
        // $('.bi-bookmark-star').on('click',function(){
        //     if(i==0){
        //         $(this).removeClass('bi-bookmark-star');
        //         $(this).addClass('bi-bookmark-star-fill');
        //         i++;
        //     }else if(i==1){
        //         $(this).removeClass('bi-bookmark-star-fill');
        //         $(this).addClass('bi-bookmark-star');
        //         i--;
        //     }
        //
        // });

        var i = 0;
        $('.bi-bookmark-star').on('click',function () {
            if(i==0){
                $(this).attr('class','bi-bookmark-star-fill');
                i++;
            }
            else if(i==1){
                $(this).attr('class','bi-bookmark-star');
                i--;
            }
        });

        const logoBtn = document.querySelector("#logo a");
        const inventoryBtn = document.querySelector("#inventoryButton");
        const overviewBtn = document.querySelector("#overviewButton");
        logoBtn.addEventListener("click", () => {location.href = "/"});

        inventoryBtn.addEventListener("click", () => {location.href ="/main/inventory"});
        overviewBtn.addEventListener("click", () => {location.href ="/"});

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</div>
</body>
</html>