body{
    margin: 20px;
    padding: 0;
    background-color: rgb(134, 165, 194);
    width: 800px;
}

#all{
    font-family: 'IBM Plex Sans KR', sans-serif;
    position: fixed;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    border-radius: 50px;
    width: 868px;
    height: 550px;
    margin-left: 0;
    border: 2px solid rgb(166, 166, 166);
    background-color: white;
    transform: translate(-50%, -50%);
}

#close_btn{
    position: absolute;
    top: 5%;
    left: 3%;
}

#title{
    position: absolute;
    width: 100px;
    top: 5%;
    left: 50%;
    margin-left: -50px;
}

#bookmark{
    position: absolute;
    top: 5%;
    right: 12%
}

#inventory{
    position: absolute;
    top: 5%;
    right: 5%;
}

#inventory > a{
    color: black;
}

.contents{
    position:absolute;
    width: 600px;
    top: 15%;
    left: 50%;
    margin-left: -300px;
}

.carousel-inner figure{
    position: relative;
    width: 100%;
    height: 100%;
}

.word-preview{
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: 20pt;
    font-weight: 400;
    color: darkblue;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);


}

.carousel-inner figcaption{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    
    position: absolute;
    /* 이미지와 겹치게 처리 */
    top: 0;
    left: 0;
    
    color: #fff;
    text-align: center;
    line-height: 350px;
    
    opacity: 0;
    /* 처음엔 안보이고 */
    
    transition: 0.3s;
}

.carousel-inner a:hover figcaption, .carousel-inner a:focus figcaption {
    /* 마우스를 올리면 보이게 처리 */
    opacity: 1;
}

.choose_btn{
     position: relative;
     width: 300px;
     bottom: 5%;
     left: 50%;
     margin-left: -150px;
}
