#logo > a{
    color: black;
}

.all{
    margin-bottom: 200px;
}

.cover-container {
    max-width: 42em;
}

.ex-pic{
    position: relative;
    left: 50%;
    margin-left: -300px;
    width: 600px;
    object-fit: cover;
    border-radius: 55px;
    filter: brightness(80%);
}

.under-pic{
    position: absolute;
    left: 50%;
    margin-left: -400px;
    width: 800px;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

.px-3{
    position: relative;
    text-align: center;
    top: 70%;
    left: 50%;
    margin-left: -400px;
    width: 800px;
}

#go-to-learn{
    position: absolute;
    width: 100px;
    left: 45%;
    margin-left: -50px;
    font-size: 15pt;
}

#modal-btn{
    border-radius: 20px;
    border: none;
    width: 180px;
    height: 40px;
    background-color: #0d6efd;
    color: white;
}

.modal {
    position: fixed;
    pointer-events: none;
}

.modal-content{
    position: fixed;
    top: 20%;
}

.modal-bg{
    position: fixed;
    top: 0;
    left: 0;
    width : 100%;
    height : 100%;
    background-color: rgba(0,0,0,0.5);
    z-index : -1;
}